*{
    font-family: arial, verdana, helvetica, sans-serif;
}
span{
    display: block;
    text-align: center;
    margin-top: 25%;
    font-size: 20px;
    position: absolute;
    left: 40%;
}
.table{
    border: 1px solid #000000;
    background-color: #c6c6c6;
    position: absolute;
    left: 40%;
    margin-top: 20%;
}
.table tr{
    text-align: right;
}
