/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */
*{
    font-family: Helvetica, sans-serif;
}
body {
    margin-top: 100px;
    background-color: #222;
    color: #2C3030;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/* News List
---------------------------------------- */
.news{
    min-height: 300px;
    border-top: solid 1px #56A6D8;
    margin-left: 200px;
}
.news img{
    float: left;
    height: 150px;
    /*width: 220px;*/
    padding-right: 10px;
    padding-bottom: 10px;
}
/* News Editor
---------------------------------------- */
.news-editor img{
    /*max-height: 150px;*/
    /*max-width: 220px;*/
    height: 150px;
}
/* Gallery
---------------------------------------- */
/*.gallery{*/
    /*overflow: hidden;*/
    /*display: inline-block;*/
    /*height: 180px;*/
    /*width: 230px;*/
    /*border-radius: 5px;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 20px;*/
/*}*/

/*.gallery img{*/
    /*width: 100%;*/
    /*border-radius: 5px;*/
/*}*/

/*.gallery img:hover{*/
    /*box-shadow: 2px 3px 2px -1px #000;*/
    /*-moz-box-shadow: 2px 3px 10px -1px #000;*/
    /*-webkit-box-shadow: 2px 3px 10px -1px #000;*/
    /*-khtml-box-shadow: 2px 3px 10px -1px #000;*/
    /*opacity: 0.8;*/
/*}*/



.gallery p{
    font-size: 18px;
}
.gallery-item{
    overflow: hidden;
    display: inline-block;
    height: 180px;
    width: 230px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.gallery-item img{
    width: 100%;
    border-radius: 5px;
}
.gallery-item img:hover{
    /*box-shadow: 2px 3px 2px -1px #000;*/
    /*-moz-box-shadow: 2px 3px 10px -1px #000;*/
    /*-webkit-box-shadow: 2px 3px 10px -1px #000;*/
    /*-khtml-box-shadow: 2px 3px 10px -1px #000;*/
    opacity: 0.8;
}
.remove-gallery-item{
    float: right;
    margin-right: 30px;
}
.remove-gallery-item img{
    position: absolute;
    float: right;
    width: 30px !important;
    height: 30px !important;
    z-index: 1;
}
.album{
    overflow: auto;
    border-top: solid 1px #56A6D8;
    min-height: 200px;
}
.album img {
    height: 100px;
    width: 140px;
    float: left;
    padding: 10px;
    border-right: 1px solid #000000;
    box-sizing: content-box;
}
.show-album{
    box-sizing: content-box;
    display: inline-block;
    width: 30px;
    height: 100px;
    padding: 10px;
    background: url(../img/next.png);
    background-repeat: no-repeat;
    background-position: center;
}
.show-album:hover{
    background-color: #ffffff;
    opacity: 0.8;
}
/* Sidebar
---------------------------------------- */
.sidebar-filter-menu{
    float: left;
    display: block;
    width: 175px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: gainsboro;
    border-radius: 5px;

}
.sidebar-filter-menu  a{
    display: block;
    text-decoration: none;
    color: #2C3030;
    padding: 5px;
}
.sidebar-filter-menu a:hover{
    color: #2B8ADA;
}
.sidebar-filter-menu p{
    padding: 5px;
    border-bottom: 1px solid #808080;
}
#days{
    padding: 5px;
}
#days option{
    display: inline;
    padding: 2px;
}
#days a{
    display: inline-block;
    padding: 3px;
}
#days span{
    display: inline-block;
    padding: 3px;
}
/* Navigation List
---------------------------------------- */
.nav-list{
    overflow: auto;
    margin: 20px;
    text-align: center;
}
.nav-list ul{
    display: inline-block;
}
.nav-list li{
    float: left;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    display: block;
    background-color: #3E4A57;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    color: #B0C4DE;
    box-shadow: 2px 3px 2px -1px #000;
    -moz-box-shadow: 2px 3px 10px -1px #000;
    -webkit-box-shadow: 2px 3px 10px -1px #000;
    -khtml-box-shadow: 2px 3px 10px -1px #000;
}
.nav-list a:hover{
    color: #2B8ADA !important;
}
.nav-list a:active{
    box-shadow: none;
}
/* Work-groups
---------------------------------------- */

.work-groups-list p{
    display: inline-block;
    margin-right: 10px;
}
.work-groups-list a{
    text-decoration: none;
}
/* Menu Items
---------------------------------------- */
.menu-item-active{
    color: #2B8ADA !important;
}
/* Main page
---------------------------------------- */
.logo-list{
    overflow: auto;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 30px;
    border-top: solid 1px #56A6D8;
}
.logo-element{
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.logo-element a{
    text-decoration: none;
}
.logo-element img{
    width: 100px;
    vertical-align: top;
    padding: 3px;
}
.logo-element:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/* Partners
---------------------------------------- */
.partners{
    border-top: solid 1px #56A6D8;
    padding-top: 10px;
    margin-bottom: 30px;
    overflow: auto;
}
.partners a{
    text-decoration: none;
}
.partners > a img:first-child{
    float: left;
    margin: 10px;
}
.partners img{
    width: 100px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
}
/* Editor
---------------------------------------- */
.editor h4{
    border-bottom: solid 1px #56A6D8;
}
.item-editor{
    width:100%;
    background-color: #E8E7E1;
    border: 1px solid rgb(169, 169, 169);
}
/* Styles for Max Length plugin v2.0.1 */
.maxlength-feedback {
    margin-left: 0.5em;
    font-size: 75%;
}
.maxlength-full {
    background-color: #fee;
}
.maxlength-overflow {
    background-color: #fcc;
}
.maxlength-disabled {
    opacity: 0.5;
}
/* Items-list
---------------------------------------- */
/*.items-list{*/
    /*display: table;*/
/*}*/
/*.items-list a:active{*/
    /*box-shadow: none;*/
/*}*/
/*.items-list-row{*/
    /*display: block;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
/*}*/
/*.items-list-row > a:nth-child(2){*/
    /*text-decoration: none;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*border-radius: 5px;*/
    /*background-color: #3E4A57;*/
    /*color: #B0C4DE;*/
    /*box-shadow: 2px 3px 2px -1px #000;*/
    /*-moz-box-shadow: 2px 3px 10px -1px #000;*/
    /*-webkit-box-shadow: 2px 3px 10px -1px #000;*/
    /*-khtml-box-shadow: 2px 3px 10px -1px #000;*/
/*}*/
/*.items-list a:hover{*/
    /*color: #2B8ADA !important;*/
/*}*/


.items-list{
    display: table;
    border-spacing: 10px;
}
.items-list-row {
    display: table-row;
    vertical-align: middle;
}
.items-list-row img{
    display: table-cell;
    margin-right: 10px;
    max-width: 130px;
}
.items-list-row a{
    display: table-cell;
    vertical-align: middle;

}
.items-list-row input{
    margin-right: 10px;
}
/* Sidebar
---------------------------------------- */
.sidebar{
    margin: 30px;
    margin-right: 0px;
    width: 300px;
    float: right;
    /*border: 1px solid #000000;*/

}
.sidebar p {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg); /* для IE9 */
    transform: rotate(-20deg); /* на будущее */
    opacity: 0.2 !important;
    font-size: 30px;
    text-align: center;
}

.sidebar-banner{
    width: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
}
.sidebar-banner img{
    max-width: 100%;
    padding: 2px;
}
.sidebar-banner-top{
    margin-top: 0px;
    margin-bottom: 30px;
    border: 1px solid #000000;
}
.sidebar-banner-bottom{
    margin-top: 30px;
    margin-bottom: 0px;
    border: 1px solid #000000;
}
.sidebar-fill{
    padding-top: 20px;
    height: 300px;
    border: 1px solid #000000;
    margin: 2px;
}
/* Banner
---------------------------------------- */
.banner-wrapper{
    min-width: 980px;
    max-width: 1200px;
    padding: 10px;
    border: 1px solid #000000;
    overflow: auto;
}
.banner-wrapper a {
    text-decoration: none;
    display: inline-block;
    margin-right: -5px;
}
.banner-img-alt{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 31px;
    height: 31px;
    width: 88px;
    border: 1px solid #000000;
}
.banner-top{
    min-width: 980px;
}
.banner-top img{
    height: 31px;
    width: 88px;
    padding: 2px;
    border: 1px solid #000000;
}
.banner-wrapper p{
    opacity: 0.5;
}