/* General style
---------------------------------------- */
*{
    font-family: Helvetica, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    min-width: 980px;
    background-color: #E8E7E1;
    color: #2C3030;
}

h1{
    font-size: 24px;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.content{
    line-height: 1.5em;
    padding-top: 30px;
}

.content-margin{
    margin-right: 330px;
}

.content-margin > p > img{
    height: auto !important;
    max-width: 70% !important;
}

.content-margin > p > iframe{
    max-width: 70% !important;
}

.no-decoration{
    text-decoration: none;
}
/* Site logo
---------------------------------------- */
.logo{
    /*height: 70px;*/
    width: 70px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-title{
    display: inline-block;
    vertical-align: top;
    width: 330px;
    padding-top: 15px;
    color: #0042a5;
}
/* Social links
---------------------------------------- */
.social{
    display: block;
    margin: 20px;
    float: right;
    border-radius: 5px;
    background: rgba(43, 138, 218, 0.4);
    box-shadow: 2px 3px 10px -1px #000;
    -moz-box-shadow: 2px 3px 10px -1px #000;
    -webkit-box-shadow: 2px 3px 10px -1px #000;
    -khtml-box-shadow: 2px 3px 10px -1px #000;
}
.social img{
    height: 35px;
    width: 35px;
    padding: 5px;
    vertical-align: top;
}
.social a{
    text-decoration: none;
}
/* Site login
---------------------------------------- */
.login{
    float: right;
    margin: 20px;
    text-align: right;
    border-radius: 5px;
    background: rgba(43, 138, 218, 0.4);
    box-shadow: 2px 3px 10px -1px #000;
    -moz-box-shadow: 2px 3px 10px -1px #000;
    -webkit-box-shadow: 2px 3px 10px -1px #000;
    -khtml-box-shadow: 2px 3px 10px -1px #000;
}
.login a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}
.login:active{
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
}
/* Menu items
---------------------------------------- */
.main-menu{
    background-color: #3E4A57;
    overflow: hidden;
    -ms-overflow-style: none; /*for IE*/
    border-bottom: 2px solid rgba(43, 138, 218, 0.4);
    text-align: center;

    background: rgba(82,98,111,1);
    background: -moz-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82,98,111,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52626f', endColorstr='#454545', GradientType=0 );
}

#drop-down{
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#drop-down li{
    float: left;
    list-style: none;
    margin: 2px;
    padding-right: 8px;
}

#drop-down a{
    display: block;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    background-color: #3E4A57;
    color: #B0C4DE;

    background: rgba(82,98,111,1);
    background: -moz-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82,98,111,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52626f', endColorstr='#454545', GradientType=0 );
}

#drop-down ul{
    display: none;
    padding: 0;
    z-index: 9999;
    position: absolute;
    background: rgba(43, 138, 218, 0.7);
    border-radius: 5px;
}

#drop-down ul li{
    display: block;
    float: none;
    margin: 3px;
    padding: 0;
}

#drop-down a:hover{
    color: #2B8ADA !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#drop-down a:active{
box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

#drop-down ul li a:hover{
    color: #2B8ADA !important;
    box-shadow: 2px 3px 10px -1px #000;
    -moz-box-shadow: 2px 3px 10px -1px #000;
    -webkit-box-shadow: 2px 3px 10px -1px #000;
    -khtml-box-shadow: 2px 3px 10px -1px #000;
}

.menu-item-active{
    color: #2B8ADA !important;
}
/* Header
---------------------------------------- */
#header{
    /*height: 350px;*/
    clear: both;
    overflow: hidden;
    position: relative;
    background: rgba(43, 138, 218, 0.7);
}

#header::after {
    content: "";
    background: url(/styles/img/panoramic-wallpaper-70-other.jpg);
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.picture{
    width: 100%;
}

.picture > img{
    width: 100%;
    min-width: 980px;
    height: auto;
}
/* Header content
---------------------------------------- */
.header-content{
    font-weight: bold;
}
.news-box{
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    float: left;
}

.news-box p{
    margin-top: 0;
}

.news-box a{
    margin-top: 5px;
    margin-right: 5px;
    display: table;
    border-spacing: 5px 7px;
    text-decoration: none;
    color: #2C3030;
    font-size: 14px;
}

.news-box a:first-of-type{
    float: left;
    width: 30%;
    height: 335px;
    font-size: 15px;
    margin: 7px;
    margin-right: 30px;
    margin-left: 10px;
}

.news-box a:last-of-type{
    margin-bottom: 5px;
}

.news-box img{
    height: 100px;
    padding-right: 10px;
    float: left;
}

.news-box a:first-of-type img{
    height: 260px;
    padding-right: 0px;
}

.news-box a:hover{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/* Sidebar
---------------------------------------- */
.sidebar{
    margin: 30px;
    margin-right: 0px;
    width: 300px;
    float: right;
}
.sidebar-banner{
    width: 100%;
}
.sidebar-banner img{
    max-width: 100%;
}
.sidebar-banner-top{
    margin-top: 0px;
    margin-bottom: 30px;
}
.sidebar-banner-bottom{
    margin-top: 30px;
    margin-bottom: 0px;
}
.sidebar-news-items{
    padding-top: 20px;
    padding-bottom: 10px;
    overflow: auto;
    border-bottom: 1px solid #d3d3d3;
}
.sidebar-news-items:first-of-type{
    border-top: 3px solid rgba(43, 138, 218, 0.8);
}
.sidebar-news-items:last-of-type{
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(43, 138, 218, 0.8);
}
.sidebar-news a{
    text-decoration: none;
    color: #2C3030;
}
.sidebar-news a p{
    margin-top: 7px;
    margin-bottom: 0px;
}
.sidebar-items-date{
    font-weight: bold;
    font-size: smaller;
}
.sidebar-news img{
    float: left;
    height: 50px;
    /*width: 70px;*/
    padding-right: 5px;
}
.sidebar-news p:first-child{
    margin-bottom: 0px;
    font-weight: bold;
}
.sidebar-filter-menu{
    float: left;
    display: block;
    width: 160px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.sidebar-filter-menu  a{
    display: block;
    text-decoration: none;
    color: #2C3030;
    padding: 5px;
}
.sidebar-filter-menu a:hover{
    color: #2B8ADA;
}
.sidebar-filter-menu p{
    padding: 5px;
    border-bottom: 1px solid #808080;
}
#days{
    padding: 5px;
}
#days option{
    display: inline;
    padding: 2px;
}
#days a{
    display: inline-block;
    padding: 3px;
}
#days span{
    display: inline-block;
    padding: 3px;
}
/* Banner
---------------------------------------- */
.banner-top ul{
    padding: 0px;
    margin: 0px;
    height: 20px;
    text-align: justify;

}
.banner-top li{
    display: inline-block;
    list-style: none;
}
.banner-top img{
    height: 31px;
    width: 88px;
}
.banner-top ul:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
/* Main
---------------------------------------- */
.logo-list{
    overflow: auto;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
.logo-element{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
.logo-element img{
    width: 100px;
    vertical-align: top;
}
.logo-element:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/* News Page
---------------------------------------- */
.news{
    min-height: 300px;
    border-top: solid 1px #56A6D8;
}
.news img{
    float: left;
    height: 150px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.news-item{
    overflow: auto;
    font-size: 18px;
}
.news-item img{
    display: block;
    max-width: 900px;
}
.news-margin{
    margin-left: 200px;
}
/* Gallery
---------------------------------------- */
.gallery-text{
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid 1px #56A6D8;
}
.gallery-item{
    overflow: hidden;
    display: inline-block;
    height: 180px;
    width: 230px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.gallery-item img{
    width: 100%;
    border-radius: 5px;
}
.gallery-item img:hover{
    opacity: 0.8;
}
.album{
    overflow: auto;
    border-top: solid 1px #56A6D8;
    min-height: 200px;
}
.album h4{
    margin-bottom: 0px;
}
.album img {
    height: 100px;
    width: 140px;
    float: left;
    padding: 10px;
    border-right: 1px solid #000000;
}
.album a{
    text-decoration: none;
    text-transform: capitalize;
    color: #2C3030;
}
.album a:hover{
    color: #2B8ADA !important;
}
.show-album{
    display: inline-block;
    width: 30px;
    height: 100px;
    padding: 10px;
    background: url(../img/next.png);
    background-repeat: no-repeat;
    background-position: center;
}
.show-album:hover{
    background-color: #ffffff;
    opacity: 0.8;
}
/* Work-groups
---------------------------------------- */
.work-groups-page h4{
    text-align: center;
}
/* Legislative-base
---------------------------------------- */
.margin-bottom{
    margin-bottom: 30px;
}
.item a{
    text-decoration: none;
    color: #2C3030;
}
.item:hover a{
    color: #2B8ADA !important;
    text-decoration: underline !important;
}
/* Partners
---------------------------------------- */
.partners{
    border-top: solid 1px #56A6D8;
    padding-top: 10px;
    margin-bottom: 30px;
    overflow: auto;
}
.partners a{
    text-decoration: none;
}
.partners > a img:first-child{
    float: left;
    margin: 10px;
}
.partners img{
    width: 100px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
}
/* Footer
---------------------------------------- */
#footer{
    background-color: #3E4A57;
    padding: 10px;
    background: rgba(82,98,111,1);
    background: -moz-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82,98,111,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(82,98,111,1) 0%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52626f', endColorstr='#454545', GradientType=0 );
}
.copyright{
    text-align: center;
    color: #B0C4DE;
}
/* Navigation List
---------------------------------------- */
.nav-list{
    overflow: auto;
    margin: 20px;
    text-align: center;
}
.nav-list ul{
    display: inline-block;
}
.nav-list li{
    float: left;
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    display: block;
    background-color: #3E4A57;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    color: #B0C4DE;
    box-shadow: 2px 3px 2px -1px #000;
    -moz-box-shadow: 2px 3px 10px -1px #000;
    -webkit-box-shadow: 2px 3px 10px -1px #000;
    -khtml-box-shadow: 2px 3px 10px -1px #000;
}
.nav-list a:hover{
    color: #2B8ADA !important;
}
.nav-list a:active{
    box-shadow: none;
}
.nav-list-move{
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.nav-list-space{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 3em;
}
/* Table
---------------------------------------- */
.table table{
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100% !important;
}
.table td{
    border: 1px solid #808080;
}

.table tr:nth-child(even){
    background-color: gainsboro;
}
.table tr:nth-child(odd){
    background-color: ghostwhite;
}
/* Ordered-list
---------------------------------------- */
.ordered-list{
    font-size: 20px;
}
.ordered-list li{
    margin-bottom: 20px;
}

/* Items-list
---------------------------------------- */
.items-list{
    display: table;
    margin-bottom: 30px;
}
.items-list-row {
    display: table-row;
    vertical-align: middle;
}
.items-list-row img{
    display: table-cell;
    margin-right: 10px;
    max-width: 130px;
}
.items-list-row a{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #2C3030;
}
.items-list-row a:hover{
    color: #2B8ADA !important;
    text-decoration: underline !important;
}
/* Button
---------------------------------------- */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}

