<div id = header>
    <div class="header-content container">
        <div class="news-box">
            <?php
            /*
             * Заполняем новостную коробку
             */
            foreach($data['header'] as $value){?>
               <a href="http://<?=$_SERVER['HTTP_HOST']?>/?controller=articles&action=news&alias=item&id=<?=$value['id']?>">
                   <img src="/upload/news_img/<?=substr($value['date'],0,4)?>/<?=substr($value['date'],0,7)?>/<?=$value['date']?>/<?=$value['image_title']?>"/>
                   <?=$value['date']?><br/><?=$value['title']?>
                </a>
            <?php } ?>
        </div>
    </div>
</div>