<a class="no-decoration" href="http://<?=$_SERVER['HTTP_HOST']?>/index.php" target="_top">
    <img class="logo" src="/styles/img/logo.png">

    <div class="logo-title">
        <?=$data['logo_title']?>
    </div>
</a>
