<div class="social">
    <a href="https://www.facebook.com/profile.php?id=100005405775664">
        <img src="/styles/img/facebook.gif">
    </a>
    <a href="https://www.youtube.com/channel/UCjVtbP1cdR_0tum59uGj1Tg/feed">
        <img src="/styles/img/youtube.gif">
    </a>
</div>