<?php
if(!empty($data['comment'])){
    echo "<h4>{$data['comment']}</h4></br>";
}
?>
<form enctype="multipart/form-data" method="post">
    <input type="file" name="logo"/>
    <br/>
    <input type="text" name="title" placeholder="Название компании"/>
    <br/><br/>
    <input type="url" name="url" placeholder="Ссылка на ресурс"/>
    <br/><br/>
    <input type="submit" value="Добавить Логотип"/>
    <br/><br/>
</form>
<div class="logo-list">
    <?php foreach($data['content'] as $value){ ?>
        <div class="logo-element">
            <a href="#">
                <img src="/upload/logos/<?=$value['image_title']?>"/>
            </a>
            <br/>
            <span>
            <a href="http://<?=$_SERVER['HTTP_HOST']?>/admin/?controller=main&action=show&id=<?=$value['id']?>">Изменить</a>
            &nbsp;
            <a href="http://<?=$_SERVER['HTTP_HOST']?>/admin/?controller=main&action=remove&id=<?=$value['id']?>" onclick="return confirm('Удалить логотип?')">Удалить</a>
            </span>
        </div>
    <?php } ?>
</div>