<?php
if(!empty($data['comment'])){
    echo "<h4>{$data['comment']}</h4></br>";
}
?>
<form enctype="multipart/form-data" method="post">
    <input type="file" name="logo"/>
    <br/>
    <div class="news-editor">
        <b>Текущее изображение:</b><br/>
        <img src="/upload/logos/<?=$data['content']['image_title']?>">
    </div>
    <br/>
    <input type="text" name="title" id="title"/>
    <br/><br/>
    <input type="url" name="url" id="url"/>
    <br/><br/>
    <input type="submit" value="Сохранить" onclick="return confirm('Сохранить изменения?')"/>
    <br/><br/>
</form>
<script type="text/javascript">
    document.getElementById("url").value = "<?=$data['content']['url']?>";
    document.getElementById("title").value = "<?=$data['content']['title']?>";
</script>