<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Адміністративна панель</title>

    <!-- Bootstrap Core CSS -->
    <link href="/styles/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/styles/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/styles/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Light Box -->
    <link type="text/css" rel="stylesheet" href="/styles/css/lightbox.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="/styles/js/jquery.js"></script>


    <!-- Light Box JavaScript -->
    <script src="/styles/js/plugins/lightbox/lightbox.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/styles/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/styles/js/plugins/morris/raphael.min.js"></script>
    <script src="/styles/js/plugins/morris/morris.min.js"></script>
    <script src="/styles/js/plugins/morris/morris-data.js"></script>

    <!-- CkEditor script -->
    <script src="/admin/ckeditor/ckeditor.js"></script>
    <!-- jQuery Max Length -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/styles/js/plugins/max_length/jquery.plugin.js"></script>
    <script type="text/javascript" src="/styles/js/plugins/max_length/jquery.maxlength.js"></script>

    <!-- Chained script -->
    <script src="/styles/js/plugins/chained/chained.js"></script>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Перейти на сайт</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li>
                <a href="/?controller=auth&action=logout"><i class="fa fa-fw fa-power-off"></i> Выход</a>
            </li>
        </ul>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
               <?php foreach($data['menu'] as $item => $value){ ?>
                    <li>
                        <li <?php if($value['is_active']){?>class="active"<?php } ?>>
                            <a href="<?=$value['url']?>"><?=$item?></a>
                        </li>
                    </li>
                <?php } ?>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Редактор контента <small>  </small>
                    </h1>
                </div>
            </div>
            <?php
                include_once($this->page_template);
            ?>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</body>

</html>
